<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
			
	<!--	Déclaration de beans -->	
			
  	<bean id="monLogger" class="com.objis.aop.MonLogger"/>    	
	<bean name="monService" class="com.objis.service.MonService" />

	<!--	Debut de la configuration POA -->	
	<aop:config>
		<aop:pointcut id="servicePointcut"  expression="execution(* com.objis.service.*.*(..))"/>    		
		<aop:aspect id="loggingAspect" ref="monLogger">
<!-- 		    <aop:before method="logMethodEntry"  pointcut-ref="servicePointcut"/>    	 -->
<!-- 		    <aop:after method="logMethodAfter" pointcut-ref="servicePointcut"/>	 -->
<!-- 		    <aop:after-returning method="logMethodExit" returning="result" pointcut-ref="servicePointcut"/> -->
		    <aop:around method="doBasicProfiling" pointcut-ref="servicePointcut"/>
	    </aop:aspect>	    
	</aop:config>
	<!--	Fin de la configuration POA -->	    

  
</beans>